@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;

    div.cont_to_do_list {
        width: 300px;
        max-height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px;
        background: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    h1 {
        margin-bottom: 15px;
        font-size: 28px;
    }

    div.cont_add_tarea {
        display: flex;
        width: 100%;
        justify-content: space-between;

        input#input_tarea {
            padding: 5px;
            border-radius: 5px;
            border: 1px solid gray;
            width: 70%;
        }

        button#add_tarea {
            padding: 6px 10px;
            border-radius: 5px;
            border: none;
            background: #28a745;
            color: white;
            cursor: pointer;
        }

        button#add_tarea:hover {
            background: green;
        }
    }

    div#list_tareas {
        width: 100%;
        overflow-y: auto;

        div.div_tarea {
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                max-width: 80%;
                overflow: hidden;
                margin: 0;
                padding: 5px 0;
            }

            button {
                padding: 7px 12px;
                background: red;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }

            button:hover {
                background: rgb(215, 0, 0);
            }
        }
    }
}